<div id="header">
   <div id="logo">
      <h1><b><a href={{page.fn}}>{{page.title}}</b></a></h1>
      <p>{{page.sentence}}</p>
   </div>
   <div id="menu">
      <ul>
      <li><a href="index.html" accesskey="1" title="">Home</a></li>
      <li><a href="online_material.html" accesskey="4" title="">Online Material</a></li>
      <br>
      <li><a target="_blank" href="http://fpavogt.github.io/x3d-pathway/">X3D Pathway</a></li>
      <li><a target="_blank" href="https://fpavogt.github.io/brutifus/">brutifus</a></li>
      <li><a target="_blank" href="http://fpavogt.github.io/fcmaker/">fcmaker</a></li>
      <li><a target="_blank" href="http://fpavogt.github.io/E0102-VR/">E0102-VR</a></li>
      </ul>
   </div>
</div>
